body{
    font-family: 'Courier New', Courier, monospace;
    color:black;
}

h1{
    padding:25px 15px;
    background-color: coral;
    color:cornsilk;
}

.examples{
    background-color: darkgray; 
    color:black;
    border-radius: 3px; 
    padding:5px;
}

